<div class="row">
    <div class="col-12 my-4 h2 font-weight-bold text-center">Objednávkový<br />formulár</div>
</div>
<div class="row">
    <form [formGroup]="formGroup">
        <div class="row">
            <mat-form-field class="col-12">
                <mat-label>Meno a priezvisko</mat-label>
                <input matInput placeholder="Napr. Janko Hraško" formControlName="nameAndSurname" />
                <mat-error
                    *ngIf="
                        (hasError('nameAndSurname', 'nameError') || hasError('nameAndSurname', 'nameLengthError')) &&
                        !hasError('nameAndSurname', 'required')
                    "
                >
                    Prosím <strong>skontrolujte</strong> svoje meno a priezvisko..
                </mat-error>
                <mat-error *ngIf="hasError('nameAndSurname', 'required')">
                    Meno a priezvisko je <strong>povinné</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-12">
                <mat-label>Dátum</mat-label>
                <mat-date-range-input [rangePicker]="picker" [dateFilter]="myFilter">
                    <input matStartDate formControlName="startDate" />
                    <input matEndDate formControlName="endDate" />
                </mat-date-range-input>
                <mat-error
                    *ngIf="hasError('endDate', 'required') && this.formGroup.controls['startDate'].value !== null"
                >
                    Dátum je <strong>povinný</strong>
                </mat-error>
                <mat-error *ngIf="hasError('startDate', 'dateCollisionError', 'endDate')">
                    Váš dátum sa prelína s iným dátumom..
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <mat-label class="font-color-grey">Počet osôb</mat-label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <increment-input
                    [value]="value"
                    [step]="step"
                    [min]="min"
                    [max]="max"
                    [wrap]="wrap"
                    formControlName="countOfPerson"
                >
                </increment-input>
            </div>
            <div class="col-6">
                <button
                    type="button"
                    [disabled]="!formGroup.valid"
                    class="mt-1"
                    (click)="submitForm()"
                    mat-raised-button
                    color="primary"
                >
                    Do košíka
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center" *ngIf="addedToBasket">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </form>
</div>
